<div class="card-container">
    <div class="row">
        <!-- Card head -->
        <div class="card-container__head">

            <div class="card-container__head__inner">
                <app-dot [dots]=1></app-dot>
            </div>
        </div>

        <!-- Card divider -->
        <div class="card-container__divider">

        </div>

        <!-- Card tail -->
        <div class="card-container__tail">

            <div class="card-container__tail__inner">
                <app-dot [dots]=6></app-dot>
            </div>
        </div>
    </div>
</div>