<div class="card-container" [class.verticle-row]="cardMode === 'verticle'">
    <div class="row">
        <!-- Card head -->
        <div class="card-container__head">

            <div class="card-container__head__inner">
                <app-dot [dots]="card?.head"></app-dot>
            </div>
        </div>

        <!-- Card divider -->
        <div class="card-container__divider">

        </div>

        <!-- Card tail -->
        <div class="card-container__tail">

            <div class="card-container__tail__inner">
                <app-dot [dots]="card?.tail"></app-dot>
            </div>
        </div>
    </div>
</div>